<a href="https://colab.research.google.com/github/lodhiumar2023/Alpha-General-Store-DataAnalysis/blob/master/data_cleaning_project_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
import pandas as pd

In [119]:
rewards_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/01_data_cleaning/RewardsData.csv')
rewards_df.head(20)

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,1,1/31/1992,Minneapolis,Georgia,55401,300,300,0,9/4/2020 0:15,12/16/2021 17:42,ClassOf2025
1,2,NaN,Los Angeles,Colorado,90210,320,320,0,8/19/2020 11:15,4/13/2022 14:28,ClassOf2025|apple
2,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,4/21/2021 10:54,Freshman|Developer
3,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,6/30/2022 22:22,GraduateStudent|admin|MBBvsDuke
4,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,12/30/2020 10:57,Student|NOBSBvsNDGame3|NOBSBvsNDGame3A
5,6,10/9/1995,G,AL,85588,7085,7395,310,8/18/2020 14:28,6/8/2022 23:55,GraduateStudent|admin
6,7,9/22/1995,NaN,NaN,NaN,570,570,0,8/21/2020 10:23,4/27/2022 16:27,ClassOf2025
7,8,NaN,NaN,NaN,NaN,2410,2410,0,8/22/2020 13:53,3/31/2022 1:56,ClassOf2022|21DZ
8,9,NaN,NaN,NaN,NaN,2895,3195,300,8/22/2020 14:03,10/10/2021 16:05,Student|Senior|DriveInNCSU|ClassificationPts|1...
9,10,7/20/1999,Winston Salem,NC,27106,8465,8515,50,8/22/2020 14:42,4/9/2022 14:10,GraduateStudent
10,11,7/22/2000,NaN,NaN,NaN,22210,22210,0,8/22/2020 15:59,6/21/2022 19:32,ClassOf2022
11,12,NaN,NaN,NaN,NaN,1355,4355,3000,8/22/2020 17:37,5/18/2021 20:57,Student|Senior|DriveInNCSU|ClassificationPts|1...
12,13,NaN,NaN,NaN,NaN,3290,3290,0,8/22/2020 18:20,4/10/2022 23:04,Student|Senior|ClassificationPts|CampbellGroup...
13,14,11/1/2000,Winston-Salem,NC,27106,10965,17165,6200,8/22/2020 20:02,5/11/2022 15:16,ClassOf2023|MBBvsDuke
14,15,6/27/2000,Thomasville,NC,27360,5750,5750,0,8/23/2020 9:26,4/11/2022 16:27,ClassOf2022
15,16,4/24/1999,NaN,NaN,NaN,4310,4610,300,8/23/2020 23:43,8/27/2021 13:01,Student|Senior|ClassificationPts|BSBvNDGame1|B...
16,17,NaN,NaN,NaN,NaN,890,890,0,8/24/2020 11:30,1/23/2022 23:28,ClassOf2022
17,18,7/5/1998,NaN,NaN,NaN,550,550,0,8/24/2020 14:48,10/26/2020 10:01,NOBSBvsNDGame3|NOBSBvsNDGame3A
18,19,NaN,Goldsboro,North Carolina,27534,3425,3425,0,8/24/2020 15:35,6/30/2022 21:19,ClassOf2023|21EPI|MBBvsDuke
19,20,NaN,NaN,NaN,NaN,800,800,0,8/24/2020 18:23,NaN,Student|19RetroactivePoints|NOBSBvsNDGame3|NOB...

In [120]:
# view missing values in the data frame
rewards_df.isna()

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,False,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7247,False,True,True,True,True,False,False,False,False,False,False
7248,False,True,True,True,True,False,False,False,False,False,False
7249,False,False,True,True,True,False,False,False,False,False,False
7250,False,True,True,True,True,False,False,False,False,False,False
7251,False,True,True,True,True,False,False,False,False,False,False

In [121]:
# count missing values in data frame
missing_values_count = rewards_df.isna().sum()
missing_values_count

User ID                   0
Birthdate              6080
City                   6922
State                  6922
Zip                    6922
Available Points          0
Total Points Earned       0
Points Spent              0
Joined On                 0
Last Seen               221
Tags                      0
dtype: int64

In [122]:
# Display pecenatage of missing values
missing_values_percentages = missing_values_count / len(rewards_df) * 100
missing_values_percentages

User ID                 0.000000
Birthdate              83.838941
City                   95.449531
State                  95.449531
Zip                    95.449531
Available Points        0.000000
Total Points Earned     0.000000
Points Spent            0.000000
Joined On               0.000000
Last Seen               3.047435
Tags                    0.000000
dtype: float64

In [123]:
# Last Seen Values in Generic Object
rewards_df['Last Seen']

0       12/16/2021 17:42
1        4/13/2022 14:28
2        4/21/2021 10:54
3        6/30/2022 22:22
4       12/30/2020 10:57
              ...
7247     6/30/2022 12:04
7248     6/28/2022 22:43
7249     6/30/2022 12:48
7250     6/30/2022 20:39
7251       7/1/2022 2:42
Name: Last Seen, Length: 7252, dtype: object

In [124]:
# convert generic object to datetime format
rewards_df['Last Seen'] = pd.to_datetime(rewards_df['Last Seen'])

In [125]:
rewards_df['Last Seen']

0      2021-12-16 17:42:00
1      2022-04-13 14:28:00
2      2021-04-21 10:54:00
3      2022-06-30 22:22:00
4      2020-12-30 10:57:00
               ...
7247   2022-06-30 12:04:00
7248   2022-06-28 22:43:00
7249   2022-06-30 12:48:00
7250   2022-06-30 20:39:00
7251   2022-07-01 02:42:00
Name: Last Seen, Length: 7252, dtype: datetime64[ns]

In [126]:
rewards_df['Last Seen'].max()

Timestamp('2022-07-01 08:36:00')

In [127]:
rewards_df['Last Seen'].min()

Timestamp('2020-10-12 14:38:00')

In [128]:
# fill null values with last seen min
rewards_df['Last Seen'].fillna(value=rewards_df['Last Seen'].min(), inplace=True)

In [129]:
rewards_df.isnull().sum()

User ID                   0
Birthdate              6080
City                   6922
State                  6922
Zip                    6922
Available Points          0
Total Points Earned       0
Points Spent              0
Joined On                 0
Last Seen                 0
Tags                      0
dtype: int64

In [130]:
# drop null values from the data frame
rewards_df_sample = rewards_df.dropna()

In [131]:
rewards_df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 7244
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User ID              172 non-null    int64
 1   Birthdate            172 non-null    object
 2   City                 172 non-null    object
 3   State                172 non-null    object
 4   Zip                  172 non-null    object
 5   Available Points     172 non-null    int64
 6   Total Points Earned  172 non-null    int64
 7   Points Spent         172 non-null    int64
 8   Joined On            172 non-null    object
 9   Last Seen            172 non-null    datetime64[ns]
 10  Tags                 172 non-null    object
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 16.1+ KB

In [134]:
rewards_df_sample = pd.drop(columns = 'Tags')

AttributeError: module 'pandas' has no attribute 'drop'